main {
    padding: 0 20px;
    max-width: $content-width;
    margin: 0 auto;
}
time {
    color: #4D4D4D;
    font-weight: 500;
}

footer {
    color: $link-color;
    p {
        font-size: 0.75em;
    }
    text-align: left;
}

