<!DOCTYPE html>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <main>
      <article>
        {{ content }}
      </article>
      {% include footer.html %}
    </main>
  </body>

<script>
  MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$'], ['\\(','\\)']]
        }
      });
  
  MathJax.Hub.Queue(function() {
          var all = MathJax.Hub.getAllJax(), i;
          for(i=0; i < all.length; i += 1) {
              all[i].SourceElement().parentNode.className += ' has-jax';
          }
      });

</script>

<style>
  code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
</style>

</html>
